.main-container {
    width: auto;
    height: 500px;
    position: relative
}

.next {
    height: 40px;
    width: auto;
}

button {
    float: right;
}

p {
    text-align: center;
    margin-top: 10px;
}